In [1]:
#NIM/Nama : 16923151/Muhamad Hanif Hafizhan
#Tanggal : 13 November 2023
#Deskripsi : Problem 1

In [2]:
import pandas as pd

data = pd.read_csv("P05-02.csv")

# 1. Banyaknya data masing-masing kota tempat rumah berada

In [3]:
print(data["city"].value_counts())

city
Sao Paulo         4273
Rio de Janeiro    1394
Porto Alegre       999
Belo Horizonte     916
Campinas           649
Name: count, dtype: int64

# 2. Rata-Rata biaya ansuransi kebakaran per tahun.

In [4]:
data["fire_insurance"].mean()

46.45535171911068

# 3. 5 rumah dengan luas tanah terbesar

In [5]:
print(data.sort_values(["area"], ascending=[0]).head(5))

                city   area  rooms  bathroom  parking_spaces  floor animal  \
1810  Belo Horizonte  46335      4         8               5     11  acept
4567       Sao Paulo  24606      5         4               4     12  acept
7114        Campinas  12732      3         2               0      3  acept
6757  Belo Horizonte   2000      3         3               2      2  acept
930        Sao Paulo   1000      4         7               4     10  acept

          furniture  homeowner_tax  rent_amount  property_tax  fire_insurance  \
1810      furnished            960         8500           646             114
4567  not furnished           2254         8100          7859             103
7114  not furnished            700         1600            96              21
6757      furnished           3000         5000           200              67
930       furnished           6000        15000          4900             191

      total
1810  10220
4567  18320
7114   2417
6757   8267
930   26090

# 4. Rumah yang sudah dilengkapi furnitur

In [6]:
print(data.loc[(data["furniture"] == "furnished")])

                city  area  rooms  bathroom  parking_spaces  floor     animal  \
0          Sao Paulo    70      2         1               1      7      acept
7          Sao Paulo   152      2         2               1      3      acept
8     Rio de Janeiro    35      1         1               0      2      acept
9          Sao Paulo    26      1         1               0      2      acept
12         Sao Paulo    55      1         1               1      2      acept
...              ...   ...    ...       ...             ...    ...        ...
8222    Porto Alegre   160      3         2               3      4      acept
8226       Sao Paulo   150      3         3               2      8  not acept
8227    Porto Alegre    63      2         1               1      5  not acept
8229  Rio de Janeiro    70      3         3               0      8  not acept
8230  Rio de Janeiro   120      2         2               2      8      acept

      furniture  homeowner_tax  rent_amount  property_tax  fire_insurance  \
0     furnished           2065         3300           211              42
7     furnished           1000        15000           250             191
8     furnished            590         2300            35              30
9     furnished            470         2100           150              27
12    furnished            790         4200           224              54
...         ...            ...          ...           ...             ...
8222  furnished            850         3300           220              49
8226  furnished              0        13500             0             172
8227  furnished            402         1478            24              22
8229  furnished            980         6000           332              78
8230  furnished           1585        12000           279             155

      total
0      5618
7     16440
8      2955
9      2747
12     5268
...     ...
8222   4419
8226  13670
8227   1926
8229   7390
8230  14020

[2252 rows x 13 columns]

# 5. Nilai Korelasi antara pajak tanah dan pajak bangunan per tahun

In [7]:
data["homeowner_tax"].corr(data["property_tax"])

0.007914200947346692

Berdasarkan hasil data korelasi antara pajak tanah dengan pajak bangunan per tahun, dapat diketahui bahwa nilai korelasinya mendekati  1, maka kedua nilai tersebut relatif berbanding lurus